extend modules/template.pug
block content

  .skills
  h2="My stack" 
  .skills__stack
    .tech
      i.icon-css3
      h3="CSS"
    .tech
      i.icon-html
      h3="HTML"
    .tech  
      i.icon-javascript
      h3="Java script"
    .tech
      i.icon-react
      h3="React"
    .tech
      i.icon-sass
      h3="Sass"
    .tech
      i.icon-mongodb
      h3="Mongo DB"
    .tech 
      i.icon-node
      h3="Node JS"
    
  .skills__soft
